<!doctype html>

<html>
  <head>
    <title>glg-current-user</title>
    <link rel="import" href="node_modules/polymer/polymer.html">
    <link rel="import" href="src/glg-current-user.html">
    <link rel="import" href="src/glg-avatar.html">
    <style>
      body {
        font-family: "Helvetica Neue", "Helvetica", Arial;
      }
    </style>
  </head>

  <body unresolved>
    <div id="holder">

      <glg-current-user username="mhuggins">
        <template>
          <span>Welcome <b>{{firstName}}</b> from {{city}}!</span>
        </template>
      </glg-current-user>

      <h3>Avatars!</h3>
      <glg-avatar username="mhuggins"></glg-avatar>
      <glg-avatar username="wballard"></glg-avatar>
      <glg-avatar username="mhuggins"></glg-avatar>

    </div>

    <script>
      document.addEventListener('polymer-ready', function() {
        //poke your element here
      });
    </script>
  </body>
</html>
