<link rel="import" href="../node_modules/core-ajax-npm/core-ajax.html">
<polymer-element name="glg-user" attributes="username currentuser">
  <template>
    <style>
    :host {
      display: flex;
    }
    </style>
    <core-ajax
    id="betalist"
    handleAs="json"
    withCredentials=true
    on-core-response="{{getbetagroups}}"></core-ajax>
    <core-ajax
    id="userdetails"
    handleAs="json"
    withCredentials=true
    on-core-response="{{getuserdetails}}"></core-ajax>
    <content></content>
  </template>
  <script src="./glg-user.litcoffee"></script>
</polymer-element>
