<link rel="import" href="./glg-user.html" />
<link rel="import" href="../node_modules/ui-avatar/src/ui-avatar.html" />
<polymer-element name="glg-avatar" attributes="username currentuser" noscript>
  <template>
    <style>
      :host {
        display: inline-flex;
      }
    </style>
    <glg-user username="{{username}}" currentuser="{{currentuser}}"></glg-user>
    <template if="{{currentuser}}">
      <ui-avatar name="{{currentuser.firstName + ' ' + currentuser.lastName}}"></ui-avatar>
    </template>
  </template>
</polymer-element>
